#pesquisa-poke{
    width: 500px;
    height: 45px;
    border-radius: 15px;
    border-color: goldenrod;
    padding: 10px;
    font-size: 1.2em;

}

#Central{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    background-image: url("./src/pokeDex.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: relative;
 
    

}

#botao-pesquisa{

    position: absolute;
    bottom: 19%;
    right: 38%;
    width: 131px;
    height: 42px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    
}




#nome-poke{

    position: absolute;
    right: 34%;
    top: 39.4%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: left;
    width: 200px;
    height: 50px;
    border-radius: 50px;
}

#imagem-poke{

   
    position: absolute;
    left: 630px;
    top:35%;
    display: none;

}



 